:root{
    --bg-color: #ffffff;
    --second-color: red;
    --main-color: black;
    --text-color: #130849;
    --other-color: #999fb9;
    --big-font: 4.8rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
}
